html, body, ul{
	margin: 0;
}

@font-face {
  font-family: 'turtles';
  font-style: normal;
  font-weight: 400;
  src: url(../font/turtles.otf) format('truetype');

}

body {
	min-width: 1550px;
	font-family: 'turtles';
}



.container{
	max-width: 1024px;
	margin: 0 auto;
}

/* style du header */


a{
	display: flex;
	text-decoration: none;
}
a:hover{
	font-weight: bold;
}

.title {
	font-size: xx-large;
	align-self: flex-end;
	color: #FEE8E8;
	text-shadow: 2px 0 0 #7D0011, 2px 2px 0 red, 0 2px 0 red, -2px 2px 0 #7D0011, -2px 0 0 #7D0011, -2px -2px 0 #7D0011, 0 -2px 0 #7D0011, 2px -2px 0 #7D0010;
	padding: 0 0 0 120px;
	z-index: 50;

}

.Img-logo {
	height: 150px;
	width: 260px;
}
.en-tete{
	display: flex;
	justify-content: space-between;
}

.links-container {
	display: flex;	
	list-style-type: none;
	padding: 30px;
	justify-content: flex-end;
	padding: 110px 50px 30px 0;


}
.links-container li a{
	position: relative;

}

.links-container img {
	height: 150px;
	position: absolute;
	right: 0;
	bottom:0;
}


/*style de la section*/

.videos{
	padding:30px 0;
}

.video{
	display: flex;	
	justify-content: space-evenly;
	list-style-type: none;
	padding: 100px 0px 50px 0px;
}
.videocontainer{
	width: 100%;
	height:0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}
.videocontainer iframe{
	width: 100%;
	height:100%;
	position: absolute;
	top:0; left:0;
}

/* style du footer*/

#contenu{
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.other-youtubers{
	display: flex;
	align-self: flex-start;
}
.perso{
	display: flex;	
	justify-content: center;
	list-style-type: none;
	padding: 100px 0px 50px 0px;
}

.perso li img {
	height:400px;
	width: 200px

}

.perso li{
	position: relative;
	overflow: hidden;
}
 
 figure.effect-lexi{
 	background:-webkit-linear-gradient(-45deg,#000 0,#fff 100%);
 	background:linear-gradient(-45deg,#000 0,#fff 100%);
 	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

 figure.effect-lexi img{
 	margin:-10px 0 0 -10px;
 	max-width:none;
 	width:-webkit-calc(100%+10px);
 	width:calc(100%+10px);
 	opacity:.9;
 	-webkit-transition:opacity .35s,-webkit-transform .35s;
 	transition:opacity .35s,transform .35s;
 	-webkit-transform:translate3d(10px,10px,0);
 	transform:translate3d(10px,10px,0);
 	-webkit-backface-visibility:hidden;backface-visibility:hidden
 }

 figure.effect-lexi figcaption::before,figure.effect-lexi p{
 	-webkit-transition:opacity .35s,-webkit-transform .35s;
 	transition:opacity .35s,transform .35s
 }

 figure.effect-lexi figcaption::before{
 	position:absolute;
 	right:-123px;bottom:-37px;
 	width:250px;height:250px;
 	border:2px solid #fff;
 	border-radius:50%;
 	box-shadow:0 0 0 900px rgba(25,255,255,0.2);
 	content:'';
 	opacity:0;
 	-webkit-transform:scale3d(0.5,0.5,1);
 	transform:scale3d(0.5,0.5,1);
 	-webkit-transform-origin:50% 50%;
 	transform-origin:50% 50%
 }

 figure.effect-lexi:hover img{
 	opacity:.6;
 	-webkit-transform:translate3d(0,0,0);
 	transform:translate3d(0,0,0)
 }

 figure.effect-lexi p{
 	position:absolute;
 	right:0;
 	bottom:60px;
 	padding:0 1.5em 1.5em 0;
 	width:140px;
 	text-align:right;
 	opacity:0;
 	-webkit-transform:translate3d(20px,20px,0);
 	transform:translate3d(20px,20px,0)
 }

 figure.effect-lexi:hover figcaption::before{
 	opacity:1;
 	-webkit-transform:scale3d(1,1,1);
 	transform:scale3d(1,1,1)
 }

 figure.effect-lexi:hover h2,figure.effect-lexi:hover p{
 	opacity:1;
 	-webkit-transform:translate3d(0,0,0);
 	transform:translate3d(0,0,0)
 }


/* test */

footer header
{
	
}
